{% extends "pages/base.html" %}

{% block nav_links %}

{% endblock %}
{% block authenticated_links %}
<a class="nav-link active" href="{% url 'home' %}">Menú Principal</a>
{% endblock %}


{% block content %}
<div class="container py-5">
    <h2>¿Estás seguro de que quieres eliminar este producto?</h2>
    <p><strong>Producto:</strong> {{ object.productName }} {{ object.specificName }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sí, eliminar</button>
        <a href="{% url 'myProducts' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}