{% extends "pages/base.html" %}
{% load i18n %}

{% block nav_links %}
{% endblock %}

{% block authenticated_links %}
<a class="nav-link btn btn-outline-dark text-light" href="{% url 'home' %}">{% trans "Inicio" %}</a>
<a class="nav-link btn btn-outline-dark text-light" href="{% url 'myProducts' %}">{% trans "Mis Productos" %}</a>
{% endblock %}

{% block content %}
<div class="container py-5">
    <h2>{% trans "Editar Producto" %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">{% trans "Guardar Cambios" %}</button>
        <a href="{% url 'myProducts' %}" class="btn btn-secondary">{% trans "Cancelar" %}</a>
    </form>
</div>
{% endblock %}
